<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:supportsRtl="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:supportsPictureInPicture="true"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

      <!-- Controlador ampliado de Chromecast (la pantalla con carátula, volumen y
           pistas del receptor). La librería no la declara: hay que hacerlo aquí o
           showExpandedControls() y la notificación fallan con ActivityNotFoundException. -->
      <activity
        android:name="com.reactnative.googlecast.RNGCExpandedControllerActivity"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:exported="false"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity" />
      </activity>

      <!-- Chromecast: el OptionsProvider que trae react-native-google-cast ya configura
           la notificación y el controlador expandido. CC1AD845 es el Default Media
           Receiver de Google (sirve para HLS/MP4 sin registrar una app propia). -->
      <meta-data
        android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
        android:value="com.reactnative.googlecast.GoogleCastOptionsProvider" />
      <meta-data
        android:name="com.reactnative.googlecast.RECEIVER_APPLICATION_ID"
        android:value="CC1AD845" />
    </application>
</manifest>
